extends ./layouts/default
block title
  title Koa Douban 首页
block content
  include ./includes/header

  .container-fluid
    .sidebar
    .content
      .row
        .clo-md-6
          .card
            img.card-img-top(src="",data-video="")
            .card-body
              h4.card-title 这是电影标题
              p.card-desc 这是电影描述
            .card-footer
              .small.text-muted 1 天前更新
        .clo-md-6
          .card
            img.card-img-top(src="",data-video="")
            .card-body
              h4.card-title 这是电影标题
              p.card-desc 这是电影描述
            .card-footer
              .small.text-muted 1 天前更新
